<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleRegister.css">
    <title>Document</title>
</head>
<body>
    <h1>Register page</h1>
    <form action="">
        <label for="">Id</label> <input type="number"> <br><br>
        <label for="">Name</label> <input type="text"> <br><br>
        <label for="">Lastname</label> <input type="text"> <br><br>
        <label for="">Birthday</label> <input type="date"> <br><br>
        <button>Register</button>
    </form>
</body>
</html>